version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 5s
      timeout: 3s
      retries: 20
  api:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://app:app@db:5432/app
      FRONTEND_ORIGIN: http://localhost:3000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app

  web:
    image: node:20-alpine
    working_dir: /app
    command: sh -lc "
      corepack enable &&
      pnpm install &&
      pnpm dev --host 0.0.0.0 --port 3000
      "
    ports:
      - "3000:3000"
    environment:
      CI: true
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      PUBLIC_API_URL: http://localhost:8000
      DATABASE_URL: postgresql://app:app@db:5432/app
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      BETTER_AUTH_URL: http://localhost:3000
      NODE_ENV: development

    volumes:
      - ./frontend:/app
      - pnpm_store:/root/.pnpm-store
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
  pnpm_store:
